.float_left {
    float: left;
}

.align_right {
    text-align: right;
}

.linkColour {
    color: black;
    text-decoration: underline;
}

.rightPadding {
    padding-right: 10px;
}

.align-text_center {
    text-align: center;
}